@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #F0F4F8;
    --main: #0A9396;
    --sec: #94D2BD;

    /* value types colors*/
    --number:var(--main);
    --vector:#2563EB;
    --matrix:#8B5CF6;
}

#canvas {
    width: 4000px;
    height: 4000px;
    display: flex;
    background-image: linear-gradient(#cce4e5 1px, transparent 1px), linear-gradient(to right, #cce4e5 1px, transparent 1px);
        background-size: 10px 10px;
        background-color: #f0f4f8;
}

#layout {
    display: grid;
    height: 100vh;
    grid-template-rows: 128px 1fr 24px;
}

svg {
    stroke: var(--white);
}

.hover-main:hover {
   background-color: var(--main); 
}

.hover-main-brd:hover {
    border-color: var(--main);
}

.hover-sec:hover {
    background-color: var(--sec);
}
.hover-sec:hover {
    border-color: var(--sec);
}

@font-face {
    font-family: 'Latin Modern Math';
    src: url("./assets/fonts/latinmodern-math.otf");
}

.latin-math {
    font-family: 'Latin Modern Math';
}

.table-row:hover {
    background-color: var(--sec);
}

.gradient-bg {
    background: linear-gradient(var(--main),70%, var(--sec));
}

@keyframes tabHovering {
    from {
        color: var(--white)
    }

    to {
        color: black
    }
}
.tab:hover {
animation: tabHovering 0.2s forwards;
}

@keyframes hoveringBgToMain {
    from {
        background: transparent;
        color: black
    }
    to {
        background: var(--main);
        color: var(--white)
    }
}

.main-bg-hover:hover {
    animation: hoveringBgToMain 0.2s forwards;
}